In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from unicodedata import normalize 
import pgeocode

# Orlando, FL Population Datasets

- [Orlando, FL population density datasets](#Orlando,-FL-population-density-datasets)
- [Orlando, FL household income density datasets](#Orlando,-FL-household-income-density-datasets)
- [Merge Orlando, FL datasets](#Merge-Orlando,-FL-datasets)

## Orlando, FL population density datasets

Resources: [Link](https://blog.splitwise.com/2013/09/18/the-2010-us-census-population-by-zip-code-totally-free/)

by July 2021

In [2]:
population_df = pd.read_csv("data/zipcode pop.csv")
population_df.head()

   Zip/ZCTA  2010 Population  Land-Sq-Mi  Density Per Sq Mile
0       601                0      64.348                  0.0
1       602                0      30.613                  0.0
2       603                0      31.616                  0.0
3       606                0      42.309                  0.0
4       610                0      35.916                  0.0

In [3]:
# Rename columns
population_df.rename(columns={"Zip/ZCTA": "zipcode", "2010 Population": "population", "Density Per Sq Mile": "pop_density"}, inplace=True)
# Drop columns
population_df.drop(columns=['Land-Sq-Mi'], inplace=True)
population_df.head()

   zipcode  population  pop_density
0      601           0          0.0
1      602           0          0.0
2      603           0          0.0
3      606           0          0.0
4      610           0          0.0

In [4]:
# Filter Orlando, FL zipcode only
zipcode = [32801,32804,32807,32789,32811,32812,32835,32819,32839,32824,32827,32822,32829,32832,32808,32817,32828,32818,32821,32825,32826,32836,32837,32805,32806,32803,32814,32809,32831,32792]
population_df = population_df[population_df['zipcode'].isin(zipcode)]
population_df.reset_index(drop=True, inplace=True)
population_df.sort_values(by=['zipcode'], inplace=True)
population_df

    zipcode  population  pop_density
0     32789       24557  3147.929753
1     32792       46914  3816.628702
2     32801       12050  5273.522976
3     32803       19020  2735.903337
4     32804       17312  2364.058446
5     32805       21810  3277.235162
6     32806       24820  3726.167242
7     32807       31465  3892.256309
8     32808       46334  3868.904476
9     32809       26773  2581.027668
10    32811       35825  4312.627904
11    32812       32844  3808.000000
12    32814        6151  4656.320969
13    32817       35105  3123.220641
14    32818       43911  3811.057108
15    32819       24976  1208.789081
16    32821       21423  1917.046980
17    32822       53029  3997.361676
18    32824       37401  1207.223782
19    32825       53024  1841.302913
20    32826       29347  3049.672659
21    32827        6362   272.380871
22    32828       57881  2708.643362
23    32829       17822  1813.574845
24    32831        2542   254.556379
25    32832       13787   244.893247
26    32835       39633  4235.652453
27    32836       16647  1063.162601
28    32837       51219  2277.614728
29    32839       50279  6749.765069

## Orlando, FL household income density datasets

Resource: [Link](https://www.psc.isr.umich.edu/dis/census/Features/tract2zip/)

by 2020

In [5]:
household_income = pd.read_excel("data/household_income.xlsx")
household_income.head()

    Zip      Median        Mean    Pop
0  1001  56662.5735  66687.7509  16445
1  1002  49853.4177  75062.6343  28069
2  1003  28462.0000       35121   8491
3  1005  75423.0000       82442   4798
4  1007  79076.3540   85801.975  12962

In [6]:
# Drop columns
household_income.drop(columns=['Mean','Pop'], inplace=True)
# Rename columns
household_income.rename(columns={"Zip": "zipcode", "Median": "income"}, inplace=True)
# Filter Orlando, FL only
zipcode = [32801,32804,32807,32789,32811,32812,32835,32819,32839,32824,32827,32822,32829,32832,32808,32817,32828,32818,32821,32825,32826,32836,32837,32805,32806,32803,32814,32809,32831,32792]
household_income = household_income[household_income['zipcode'].isin(zipcode)]
household_income.reset_index(drop=True, inplace=True)
household_income.sort_values(by='zipcode')
household_income

    zipcode      income
0     32789  73938.4426
1     32792  45745.7203
2     32801  27798.8516
3     32803  55839.2906
4     32804  57793.8146
5     32805  27620.3283
6     32806  53832.8962
7     32807  40232.1299
8     32808  36308.1834
9     32809  42157.7748
10    32811  36316.7333
11    32812  45653.6469
12    32814  63540.0000
13    32817  46428.6437
14    32818  45625.1116
15    32819  80419.0567
16    32821  47244.5161
17    32822  42767.9133
18    32824  49415.8646
19    32825  55274.2878
20    32826  49457.6480
21    32827  73291.0399
22    32828  67869.3185
23    32829  62843.8887
24    32831  67206.0000
25    32832  78229.0000
26    32835  58298.2656
27    32836  97804.2378
28    32837  60996.7092
29    32839  37614.4410

## Merge Orlando, FL datasets

In [7]:
nomi = pgeocode.Nominatim('us')
df_1 = nomi.query_postal_code(['32801','32804','32789','32811','32835','32819','32839','32824','32827','32822','32829','32832','32808','32817','32828','32818','32821','32825','32826','32836','32837','32805','32806','32803','32814','32809','32831','32792','32812','32807'])

In [8]:
df_coor = df_1[['postal_code','latitude','longitude']]
df_coor.rename(columns={"postal_code":"zipcode"}, inplace=True)
df_coor

C:\Users\aliso\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

   zipcode  latitude  longitude
0    32801   28.5399   -81.3727
1    32804   28.5754   -81.3955
2    32789   28.5978   -81.3534
3    32811   28.5163   -81.4516
4    32835   28.5289   -81.4787
5    32819   28.4522   -81.4678
6    32839   28.4871   -81.4082
7    32824   28.3932   -81.3622
8    32827   28.4317   -81.3430
9    32822   28.4944   -81.2902
10   32829   28.4671   -81.2417
11   32832   28.3774   -81.1888
12   32808   28.5803   -81.4396
13   32817   28.5891   -81.2277
14   32828   28.5523   -81.1795
15   32818   28.5801   -81.4846
16   32821   28.3957   -81.4666
17   32825   28.5469   -81.2571
18   32826   28.5826   -81.1907
19   32836   28.4115   -81.5250
20   32837   28.3949   -81.4179
21   32805   28.5302   -81.4045
22   32806   28.5140   -81.3570
23   32803   28.5559   -81.3535
24   32814   28.5702   -81.3265
25   32809   28.4637   -81.3948
26   32831   28.4656   -81.1510
27   32792   28.5974   -81.3036
28   32812   28.4998   -81.3288
29   32807   28.5515   -81.3051

In [9]:
df_coor.sort_values(by='zipcode', inplace=True)
df_coor.reset_index(drop=True, inplace=True)
df_coor

C:\Users\aliso\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

   zipcode  latitude  longitude
0    32789   28.5978   -81.3534
1    32792   28.5974   -81.3036
2    32801   28.5399   -81.3727
3    32803   28.5559   -81.3535
4    32804   28.5754   -81.3955
5    32805   28.5302   -81.4045
6    32806   28.5140   -81.3570
7    32807   28.5515   -81.3051
8    32808   28.5803   -81.4396
9    32809   28.4637   -81.3948
10   32811   28.5163   -81.4516
11   32812   28.4998   -81.3288
12   32814   28.5702   -81.3265
13   32817   28.5891   -81.2277
14   32818   28.5801   -81.4846
15   32819   28.4522   -81.4678
16   32821   28.3957   -81.4666
17   32822   28.4944   -81.2902
18   32824   28.3932   -81.3622
19   32825   28.5469   -81.2571
20   32826   28.5826   -81.1907
21   32827   28.4317   -81.3430
22   32828   28.5523   -81.1795
23   32829   28.4671   -81.2417
24   32831   28.4656   -81.1510
25   32832   28.3774   -81.1888
26   32835   28.5289   -81.4787
27   32836   28.4115   -81.5250
28   32837   28.3949   -81.4179
29   32839   28.4871   -81.4082

In [10]:
orlando_population = population_df[['zipcode', 'population','pop_density']]
orlando_population['income'] = household_income['income']
orlando_population

    zipcode  population  pop_density      income
0     32789       24557  3147.929753  73938.4426
1     32792       46914  3816.628702  45745.7203
2     32801       12050  5273.522976  27798.8516
3     32803       19020  2735.903337  55839.2906
4     32804       17312  2364.058446  57793.8146
5     32805       21810  3277.235162  27620.3283
6     32806       24820  3726.167242  53832.8962
7     32807       31465  3892.256309  40232.1299
8     32808       46334  3868.904476  36308.1834
9     32809       26773  2581.027668  42157.7748
10    32811       35825  4312.627904  36316.7333
11    32812       32844  3808.000000  45653.6469
12    32814        6151  4656.320969  63540.0000
13    32817       35105  3123.220641  46428.6437
14    32818       43911  3811.057108  45625.1116
15    32819       24976  1208.789081  80419.0567
16    32821       21423  1917.046980  47244.5161
17    32822       53029  3997.361676  42767.9133
18    32824       37401  1207.223782  49415.8646
19    32825       53024  1841.302913  55274.2878
20    32826       29347  3049.672659  49457.6480
21    32827        6362   272.380871  73291.0399
22    32828       57881  2708.643362  67869.3185
23    32829       17822  1813.574845  62843.8887
24    32831        2542   254.556379  67206.0000
25    32832       13787   244.893247  78229.0000
26    32835       39633  4235.652453  58298.2656
27    32836       16647  1063.162601  97804.2378
28    32837       51219  2277.614728  60996.7092
29    32839       50279  6749.765069  37614.4410

In [11]:
orlando_population[['latitude','longitude']] = df_coor[['latitude','longitude']]
orlando_population

    zipcode  population  pop_density      income  latitude  longitude
0     32789       24557  3147.929753  73938.4426   28.5978   -81.3534
1     32792       46914  3816.628702  45745.7203   28.5974   -81.3036
2     32801       12050  5273.522976  27798.8516   28.5399   -81.3727
3     32803       19020  2735.903337  55839.2906   28.5559   -81.3535
4     32804       17312  2364.058446  57793.8146   28.5754   -81.3955
5     32805       21810  3277.235162  27620.3283   28.5302   -81.4045
6     32806       24820  3726.167242  53832.8962   28.5140   -81.3570
7     32807       31465  3892.256309  40232.1299   28.5515   -81.3051
8     32808       46334  3868.904476  36308.1834   28.5803   -81.4396
9     32809       26773  2581.027668  42157.7748   28.4637   -81.3948
10    32811       35825  4312.627904  36316.7333   28.5163   -81.4516
11    32812       32844  3808.000000  45653.6469   28.4998   -81.3288
12    32814        6151  4656.320969  63540.0000   28.5702   -81.3265
13    32817       35105  3123.220641  46428.6437   28.5891   -81.2277
14    32818       43911  3811.057108  45625.1116   28.5801   -81.4846
15    32819       24976  1208.789081  80419.0567   28.4522   -81.4678
16    32821       21423  1917.046980  47244.5161   28.3957   -81.4666
17    32822       53029  3997.361676  42767.9133   28.4944   -81.2902
18    32824       37401  1207.223782  49415.8646   28.3932   -81.3622
19    32825       53024  1841.302913  55274.2878   28.5469   -81.2571
20    32826       29347  3049.672659  49457.6480   28.5826   -81.1907
21    32827        6362   272.380871  73291.0399   28.4317   -81.3430
22    32828       57881  2708.643362  67869.3185   28.5523   -81.1795
23    32829       17822  1813.574845  62843.8887   28.4671   -81.2417
24    32831        2542   254.556379  67206.0000   28.4656   -81.1510
25    32832       13787   244.893247  78229.0000   28.3774   -81.1888
26    32835       39633  4235.652453  58298.2656   28.5289   -81.4787
27    32836       16647  1063.162601  97804.2378   28.4115   -81.5250
28    32837       51219  2277.614728  60996.7092   28.3949   -81.4179
29    32839       50279  6749.765069  37614.4410   28.4871   -81.4082

In [12]:
orlando_population.to_csv("data/orlando_pop.csv", index=False)